ave_frames_ff
data
LX200
*.zip
.gitignore
*.pyc
init_cen_all
*.log
*.dSYM
*.fits
centroids.dat
seeing.dat
*~
*.o
ave_frames
grab_cube
measure_seeing
grab_cube_16bpp_binned
grab_cube_8bpp_binned
.DS_store
.DS_Store
r0.out
seeing.out
nightly_report_seeing.png
plot_for_report.gnu
video_feed
ds9.png
grab
current_object
fluxes.dat
noise_test
python_test_code.py
exptime
SYNCME
LightmeterMark2.3l/lightmeter_mark23l
lightmeter/lightmeter.db
lightmeter/lightmeter_mark23l
measure_seeing_astelco
seeing.png
